{% extends 'base.html' %} {% block head %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% block title %} 404 page.com {% endblock %} {% endblock %} {% block body %}
<h1>$_$ looks like your lost ?</h1>

<a href="/" class=".btn-default">Click here to go to login page</a>
<a href="/signup" class=".btn-default">Click here to go to signup page</a>
{% endblock %}
